[provider]
type = "gitlab"
url = "https://gitlab.example.com"
token_env = "GITFLOW_GITLAB_TOKEN"

[branches]
main = "master"
develop = "staging"
feature_prefix = "feature/"
hotfix_prefix = "hotfix/"
release_prefix = "release/"

[merge_request]
feature_label = "story"
hotfix_label = "bug"
draft_prefix = "Draft: "
remove_source_branch = true

[changelog]
output_dir = "release_notes"
version_tag_pattern = "{project}-{version}"
include_labels = true
feature_labels = ["story", "feature"]
bug_labels = ["bug"]
technical_labels = ["technical debt"]
ignore_labels = ["ignore"]

[behavior]
require_clean_worktree = true
auto_push = true
